nav.comic-nav
  ul
    li.first: a(href='#')
      span.fa.fa-arrow-circle-left
      = 'First'
    li.prev: a(href='#')
      span.fa.fa-chevron-circle-left
      = 'Prev'
    li.rand: a(href='#')
      span.fa.fa-dot-circle-o
      = 'Random'
    li.next: a(href='#')
      span.fa.fa-chevron-circle-right
      = 'Next'
    li.last: a(href='#')
      span.fa.fa-arrow-circle-right
      = 'Last'
